127.0.0.1  localhost
{% for host in groups['all_groups'] %}
{% if hostvars[host]['ansible_eth1'] is defined %}{{ hostvars[host]['ansible_eth1']['ipv4']['address'] }}  {{ host }}{% endif %}
{% endfor %}
