---
# file: roles/seqware-code/tasks/artifactory.yml

- name:  Set up SeqWare code directories
  file: path={{ item.path }} state={{ item.state }} owner={{ item.owner }} recurse={{ item.recurse }} mode={{ item.mode}} group={{ item.group }}
  with_items:
     - { state: 'directory', path: '~seqware/gitroot/seqware/seqware-distribution/target/', owner: 'seqware', group: 'seqware', recurse: 'yes', mode: '0700' }
     - { state: 'directory', path: '~seqware/gitroot/seqware/seqware-webservice/target/', owner: 'seqware', group: 'seqware', recurse: 'yes', mode: '0700' }
     - { state: 'directory', path: '~seqware/gitroot/seqware/seqware-portal/target/', owner: 'seqware', group: 'seqware', recurse: 'yes', mode: '0700' }
     - { state: 'directory', path: '~seqware/gitroot/seqware/seqware-pipeline/target/', owner: 'seqware', group: 'seqware', recurse: 'yes', mode: '0700' }
     - { state: 'directory', path: '~seqware/.m2/', owner: 'seqware', group: 'seqware', recurse: 'yes', mode: '0700' }    
     

- name:  Download SeqWare jars
  get_url: url={{ item.url }} dest={{ item.dest }} owner=seqware
  with_items:
     - { url: 'http://seqwaremaven.oicr.on.ca/artifactory/seqware-release/com/github/seqware/seqware-distribution/{{ seqware_version }}/seqware-distribution-{{ seqware_version }}-full.jar', dest: '~seqware/gitroot/seqware/seqware-distribution/target/seqware-distribution-{{ seqware_version }}-full.jar' }
     - { url: 'http://seqwaremaven.oicr.on.ca/artifactory/seqware-release/com/github/seqware/seqware-portal/{{ seqware_version }}/seqware-portal-{{ seqware_version }}.war', dest: '~seqware/gitroot/seqware/seqware-portal/target/seqware-portal-{{ seqware_version }}.war' }
     - { url: 'http://seqwaremaven.oicr.on.ca/artifactory/seqware-release/com/github/seqware/seqware-webservice/{{ seqware_version }}/seqware-webservice-{{ seqware_version }}.war', dest: '~seqware/gitroot/seqware/seqware-webservice/target/seqware-webservice-{{ seqware_version }}.war' }
     - { url: 'https://github.com/SeqWare/seqware/releases/download/{{ seqware_version }}/seqware', dest: '~seqware/gitroot/seqware/seqware-pipeline/target/seqware'}
     - { url: 'https://github.com/SeqWare/seqware/releases/download/{{ seqware_version }}/archetype-catalog.xml', dest: '~seqware/.m2/archetype-catalog.xml'}
     - { url: 'http://seqwaremaven.oicr.on.ca/artifactory/seqware-release/com/github/seqware/seqware-distribution/{{ seqware_version }}/seqware-distribution-{{ seqware_version }}-full.jar', dest: '~seqware/jars/seqware-distribution-{{ seqware_version }}-full.jar' }
     - { url: 'http://seqwaremaven.oicr.on.ca/artifactory/seqware-release/com/github/seqware/seqware-distribution/{{ seqware_version }}/seqware-distribution-{{ seqware_version }}-full.jar', dest: '~seqware/.seqware/self-installs/seqware-distribution-{{ seqware_version }}-full.jar' }
     - { url: 'https://github.com/SeqWare/seqware/releases/download/{{ seqware_version }}/seqware', dest: '~seqware/bin/seqware'}

- name:  Set up SeqWare script
  file: path=~seqware/bin/seqware mode=0700 state=file
  
- name:  Setup script path
  lineinfile: 
    dest: ~seqware/.bash_profile
    create: yes
    line: 'export PATH=$PATH:~seqware/bin'
    state: present
    insertafter: EOF

- name:  Copy xml portal config
  copy: 
    src: seqware-portal.xml
    dest: ~seqware/gitroot/seqware/seqware-portal/target/seqware-portal-{{ seqware_version }}.xml
    
- name:  Copy xml webservice config
  copy: 
    src: seqware-webservice.xml
    dest: ~seqware/gitroot/seqware/seqware-webservice/target/seqware-webservice-{{ seqware_version }}.xml
