#openstack-korea and oicr

[platform]
user=amishpatel
api_key=DryDyexx
instance_type=m1.xlarge
image=Ubuntu 12.04 amd64
endpoint='http://10.0.20.78:5000/v2.0/tokens'
#make sure to copy the pem file over to this launcher!
ssh_key_name=ap-oicr-2
ssh_username=ubuntu
tenant=SoftEng
network=seqware

[nodes]
number_of_nodes=3
floating_ips=10.0.20.123,10.0.20.125,10.0.20.124
