# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure("2") do |config|
 # config.ssh.timeout = 60
 # config.ssh.max_tries = 10
  # Every Vagrant virtual environment requires a box to build off of.
  #config.vm.box = "%{BOX}"

  # The url from where the 'config.vm.box' box will be fetched if it
  # doesn't already exist on the user's system.
  config.vm.box_url = "%{BOX_URL}"
  config.vm.box_download_insecure = true
